<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>08_条件渲染</title>
</head>
<body>
<!--
切换一个元素:
  v-if
  v-else
  v-show
切换多个元素
  <template v-if="ok">  //不能用v-show ,因为template不是真实标签，而v-show会产生display样式，无法生效
注意:
  如果需要频繁切换 v-show 较好，如果在运行时条件不大可能改变 v-if 较好
-->

<div id="demo">
  <h1>测试: 切换一个元素</h1>
  <span v-show="ok">成功显示</span>

  <h3 v-if="ok">流水桥响流水</h3>
  <h3 v-else="">水流响桥水流</h3>

  <button @click="ok=!ok">点击</button>
  <h1>测试: 切换多个元素</h1>
  <template v-if="ok">
    <h1>滚滚长江东逝水</h1>
    <p>浪花淘尽英雄</p>
  </template>

</div>

<script type="text/javascript" src="../js/vue.js"></script>
<script type="text/javascript">
  new Vue({
      el:'#demo',
      data:{
          ok:true
      },

  })
</script>
</body>
</html>